<div class="main-bg">
	<!-- content -->
	<div class="sub-main-w3">
        
		<div class="bg-content-w3pvt">
          

			<div class=" top-content-style">
                <div *ngIf="success" class="success"> OTP has been sent to your phone number</div>
				<img src="assets/logo.png" style="width: 150px;height: 50px;">
                <h3 style="color:#ffffff">Welcome Back</h3>
			</div>
            
            <form [formGroup]="otpForm"  (ngSubmit)="verify()">
                
              <p class="legend">Please Enter your Phone Number</p>
                    <input  type="text" placeholder="Phone Number" formControlName="phone">
                    <div *ngIf="isSubmitted && otpForm.controls.phone.errors" class="error">
                        <div *ngIf="otpForm.controls.phone.errors.required">Email is required</div>
                        <div *ngIf="otpForm.controls.phone.errors.pattern">Valid Email is required</div>
                    </div>
                    <!-- <div *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                        Please enter a valid email address
                    </div> -->
              
                    <div class="button-group" >
                        <button type="submit" class="reset">Get OTP</button>
                      </div>
                      
                     
                        <a class="link" [routerLink]="'/login'">Go back to login</a>
                    
            </form>


        </div>

    </div>

</div>


